@using LK23.Models;
@model Person

@{
    ViewData["Title"] = "Person";
}

<section>
    <h3>EDUCATION</h3>
    <section>
        <h4>OCT 2020-NOW</h4>
        <p>Kharkiv's National University of Radioelectronics / Bachelor of Computer engineering</p>
    </section>
    <section>
        <h4>MARCH 2023-NOW</h4>
        <p>Hillel IT School/.NET Developer</p>
        <hr />
    </section>
</section>