@using LK23.Models;
@model Person

@{
    ViewData["Title"] = "Person";
}


<section>
    <h3>WORK EXPERIENCE</h3>
    <section>
        <h4>Student OCT 2020-NOW</h4>
        <p>Kharkiv's National University of Radioelectronics / Computer engineering</p>
        <hr />
    </section>
</section>