@using LK23.Models;
@model Person

@{
    ViewData["Title"] = "Person";
}


<section>
    <h3>PROFESSIONAL SUMMARY</h3>
    <p>I am looking for a job for a junior .NET developer. I am studying in university and learning .NET developer courses. I have experience with HTML, CSS, SQL.</p>
    <hr />
</section>