

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    min-height: 50vh;
    font-family: "Times New Roman", monospace;
}
.nav-container {
    justify-content: space-between;
    background-color: darkgrey;
    font-family: "Times New Roman", monospace;
}
.navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Gilroy';
    font-style: normal;
}

.navbar-nav {
list-style: none;
padding-left: 0;
margin: 0;
align-items: center;
justify-content: space-between;
}
.navbar-nav > .nav-item {
margin: 0 14px;
font-weight: 100;
letter-spacing: 1.5px;
padding: 5px 0;
font-size: 17px;
display: inline-block;
}
.navbar-nav > .nav-item > .nav-link-item {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}
.image {
    border-radius: 100px;
}
.left{
    width: 20%;
    background-color: rgb(23,24,78);
    text-align:center;
    padding-top: 25px;
}
.right {
    width: 80%;
    background-color: rgb(238,238,243);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.sec {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}
.hInfo {
    color: darkgrey;
}
.sec > p,.sec> h3 {
    color: darkgrey;
}
.sec>p{
    margin-top:-10px;
}
.min-flex {
    display: flex;
}
.min-right{
    margin-left:15px;
}
.min-left{
    margin-bottom: 15px;
}
.input{
    border-radius: 7.5px;
}
.but {
    border-radius: 20px;
    background-color: whitesmoke;
    width:100px;
    height: 50px;
    transition: .25s;
}
.but:hover {
    background-color: dimgray;
    color: floralwhite;
}